body{
    margin: 0;
    padding:0;
}

.Dinara{
    text-align: center;
    font-family:Arial;
}
.city{
    text-align: center;
    font-family:Arial;
}
.obj{
    font-family:Arial;
}
.student{
    font-family:Arial;

}
.exp{
    font-family:Arial;
}
.exp_1{
    font-family:Arial;
}
.edu{
    font-family:Arial;
}
.edu_1{
    font-family: Arial;
}
.int{
    font-family: Arial;
}
.int_1{
    font-family: Arial;
}